stages:
  - compile
  - test
  - deploy

# Запуск юнит тестов
frontend-test:
  stage: test
  image: node:23.1.0-alpine3.19
  tags: [ common ]
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_COMMIT_REF_NAME != 'main'
      when: on_success
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    when: always
    paths:
      - coverage/
    when: always
    reports:
      junit:
        - junit.xml
  script:
    - cd ./src/Client
    - npm install jest
    - npm install --save-dev jest-junit
    - npm run test:ci

# Проверка компиляции бэкенд
backend-compile:
  stage: compile
  image: mcr.microsoft.com/dotnet/sdk:7.0
  tags: [ common ]
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_COMMIT_REF_NAME != 'main'
      when: on_success
  script:
    - dotnet build ./src

# Проверка сборки frontend
frontend-build:
  stage: compile
  image: node:23.1.0-alpine3.19
  tags: [ common ]
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_COMMIT_REF_NAME != 'main'
      when: on_success
  script:
    - cd ./src/Client 
    - npm ci
    - CI=false npm run build
  
# Запус юнит тестов
backend-test:
  stage: test
  image: mcr.microsoft.com/dotnet/sdk:7.0
  tags: [ common ]
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_COMMIT_REF_NAME != 'main'
      when: on_success
  artifacts:
    when: always
    paths:
      - ./**/*.Result.xml
    reports:
      junit:
        - ./**/*.Result.xml
  script:
    - dotnet test ./test/TestAPI --test-adapter-path . --logger 'junit;LogFilePath=../Artifacts/{assembly}.Result.xml;MethodFormat=Class;FailureBodyFormat=Verbose'

# Деплой на тестовый стенд
deploy-on-prod-stand:
  stage: deploy
  tags: [ deploy ]
  rules:
    - if: ( $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_REF_NAME == 'main' ) || ( "prod" =~ $CI_COMMIT_TAG && $CI_PIPELINE_SOURCE == 'push' &&  $CI_COMMIT_REF_NAME == 'develop' )
      when: on_success
  script:
    - ./build/down.sh prod
    - echo REACT_APP_API_URL=https://cifra2024.udmr.ru/apiprod > ./src/Client/.env
    - BUILD_OUT=$(./build/build.sh prod)
    - ./build/run.sh prod
    - BUILD_STATUS="${BUILD_OUT:0-1}"
    - if [ BUILD_STATUS == 0 ]; then MESSAGE="Запущен деплой с сервера $CI_API_V4_URL  $CI_SERVER_HOST  $CI_PROJECT_URL проект  $CI_PROJECT_ROOT_NAMESPACE / $CI_PROJECT_NAME коммит $CI_COMMIT_MESSAGE тег $CI_COMMIT_TAG автор $CI_COMMIT_AUTHOR ветка  $CI_COMMIT_BRANCH на прод"; else MESSAGE="!!! Ошибка деплоя с сервера $CI_API_V4_URL  $CI_SERVER_HOST  $CI_PROJECT_URL проект  $CI_PROJECT_ROOT_NAMESPACE / $CI_PROJECT_NAME коммит $CI_COMMIT_MESSAGE тег $CI_COMMIT_TAG автор $CI_COMMIT_AUTHOR ветка  $CI_COMMIT_BRANCH на прод"; fi
    - URL="https://api.telegram.org/bot$keytelegram/sendMessage"
    - curl -s -X POST $URL -d chat_id=$channeltelegram -d text="$MESSAGE"
    - exit $BUILD_STATUS
 
    
# Подготовить деплой тестовго стенда
.before-deploy-on-test-script: &before-deploy-on-test-script
  - eval $(ssh-agent -s)
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - echo -e "Host *\n\tStrictHostKeyChecking no\n" > ~/.ssh/config;
  - echo "${CIFRA_CI_SSH_KEY}" > ~/.ssh/id_ed25519
  - chmod 600 ~/.ssh/id_ed25519;
  - echo "${CIFRA_CI_SSH_KEY_PUB}" > ~/.ssh/id_ed25519.pub
  - chmod 764 ~/.ssh/id_ed25519.pub;
  - ssh-keyscan -H "${CIFRA_TEST_HOST}" >> ~/.ssh/known_hosts
    
# деплой тестовго стенда
.deploy-on-test-script: &deploy-on-test-script
  - ssh -A "${CIFRA_TEST_USER}@${CIFRA_TEST_HOST}" "mkdir -p cifra/${TEST_STAND}/${CI_COMMIT_SHORT_SHA}"
  - scp -r $(pwd) "${CIFRA_TEST_USER}@${CIFRA_TEST_HOST}:cifra/${TEST_STAND}/${CI_COMMIT_SHORT_SHA}"
  - ssh -A "${CIFRA_TEST_USER}@${CIFRA_TEST_HOST}" "cat cifra/.password | sudo -S ~/cifra/${TEST_STAND}/${CI_COMMIT_SHORT_SHA}/cifra/build/down.sh ${TEST_STAND}"
  - ssh -A "${CIFRA_TEST_USER}@${CIFRA_TEST_HOST}" "cat cifra/.password | sudo -S echo REACT_APP_API_URL=http://${TEST_IP_AND_PORT} > ~/cifra/${TEST_STAND}/${CI_COMMIT_SHORT_SHA}/cifra/src/Client/.env"
  - ssh -A "${CIFRA_TEST_USER}@${CIFRA_TEST_HOST}" "cat cifra/.password | sudo -S ~/cifra/${TEST_STAND}/${CI_COMMIT_SHORT_SHA}/cifra/build/build.sh ${TEST_STAND}"
  - ssh -A "${CIFRA_TEST_USER}@${CIFRA_TEST_HOST}" "cat cifra/.password | sudo -S ~/cifra/${TEST_STAND}/${CI_COMMIT_SHORT_SHA}/cifra/build/run.sh ${TEST_STAND}"

# Деплой на тестовый стенд 1
deploy-on-test-stand-1:
  stage: deploy
  tags: [ deploy ]
  rules:
    - if: $CI_COMMIT_TAG == 'test1'
      when: on_success
  before_script:
    - *before-deploy-on-test-script
  script:
    - TEST_STAND=test1
    - TEST_IP_AND_PORT=${CIFRA_TEST_IP}:8001
    - *deploy-on-test-script

# Деплой на тестовый стенд 2
deploy-on-test-stand-2:
  stage: deploy
  tags: [ deploy ]
  rules:
    - if: $CI_COMMIT_TAG == 'test2'
      when: on_success
  before_script:
    - *before-deploy-on-test-script
  script:
    - TEST_STAND=test2
    - TEST_IP_AND_PORT=${CIFRA_TEST_IP}:8002
    - *deploy-on-test-script