
stages:
  - compile

# Проверка компиляции бэкенд
backend-compile:
  stage: compile
  image: mcr.microsoft.com/dotnet/sdk:8.0
  tags: [ common ]
  rules:
    - when: on_success
  script:
    - dotnet build
