stages:
  - compile
  - deploy

# Проверка компиляции бэкенд
backend-compile:
  stage: compile
  image: mcr.microsoft.com/dotnet/sdk:8.0
  tags: [ common ]
  script:
    - dotnet build ./src

# Деплой на тестовый стенд
deploy-on-test:
  stage: deploy
  tags: [ deploy ]
#  rules:
#    - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_REF_NAME == 'main'
#      when: on_success
  script:
    - ./build/down.sh
    - ./build/build.sh
    - ./build/run.sh
