
stages:
  - compile
  - deploy

# Проверка компиляции бэкенд
# backend-compile:
#   stage: compile
#   image: mcr.microsoft.com/dotnet/sdk:8.0
#   tags: [ common ]
#   script:
#     - dotnet build ./src

# Деплой на тестовый стенд
deploy-on-test:
  stage: deploy
  image: docker
  services: 
    - docker:dind
  tags: [ common ]
  # TODO вернуть правила, закоментировано для тестов
  # rules:
  #   - if: $CI_PIPELINE_SOURCE == 'push' && $CI_COMMIT_REF_NAME == 'main'
  #     when: on_success
  script:
    - apk add --no-cache bash 
    - CI_COMMIT_TITLE="Merge branch 'my_cool_branch' into 'main'"
    - echo $CI_COMMIT_TITLE
    - ./build/image-tag.sh "$CI_COMMIT_TITLE"
    - echo "$IMAGE_TAG"
    # - IMAGE_TAG=$(bash ./build/image-tag.sh $CI_COMMIT_TITLE)
    # - echo $IMAGE_TAG
    # - build/image-tag.sh $CI_COMMIT_TITLE
    # - IMAGE_TAG=$(build/image-tag.sh $CI_COMMIT_TITLE)
    # - ./build/build.sh $IMAGE_TAG
    # - bash ./build/image-tag.sh $CI_COMMIT_TITLE