.accordion {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 10px;
  box-sizing: content-box;
  overflow-y: hidden;
  flex-shrink: 0;

  transition: max-height 0.5s ease-in-out;
  max-height: 10%;
}

.accordionOpen {
  max-height: 100%;
}

.button {
  display: flex;
  align-items: flex-end;
  height: 18px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.icon {
  width: 16px;
  height: 16px;
  aspect-ratio: 1;
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg);
}

.iconOpen {
  transform: rotate(-90deg);
}
