  name: Build and Tests
  
  on:
    push:
  
  jobs:
    checkout_code:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v5
  
    build_backend:
      runs-on: ubuntu-latest
      needs: checkout_code
      steps:
        - uses: actions/checkout@v5
  
        - name: Setup .NET
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: '7.0.x'
  
        - name: Restore dependencies
          run: dotnet restore ./src/Students.sln
  
        - name: Build the project
          run: dotnet build ./src/Students.sln --configuration Release --no-restore
    
    test_backend:
      runs-on: ubuntu-latest
      needs: build_backend
      steps:
        - uses: actions/checkout@v5
  
        - name: Setup .NET
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: '7.0.x'

        - name: Restore dependencies
          run: dotnet restore ./src/Students.sln
                
        - name: Run tests using solution without build
          run: dotnet test ./src/Students.sln --configuration Release --no-restore --verbosity normal

    build_frontend:
      runs-on: ubuntu-latest
      needs: checkout_code
      container:
        image: node:23.1.0-alpine3.19
  
      steps:  
        - uses: actions/checkout@v5
  
        - name: Install dependencies
          working-directory: ./src/Client
          run: npm install --legacy-peer-deps
  
        - name: Build frontend
          working-directory: ./src/Client
          run: CI=false npm run build

    test_frontend:
      runs-on: ubuntu-latest
      needs: build_frontend
      
      container:
        image: node:23.1.0-alpine3.19
      
      steps:
        - uses: actions/checkout@v5
  
        - name: Install test dependencies
          working-directory: ./src/Client
          run: |
            npm install jest
            npm install --save-dev jest-junit
        
        - name: Run tests
          working-directory: ./src/Client
          env:
            JEST_JUNIT_OUTPUT: junit.xml
          run: npm test -- --coverage --testResultsProcessor="jest-junit"
        
        - name: Upload coverage report
          uses: actions/upload-artifact@v4
          with:
            name: coverage
            path: src/Client/coverage/
        
        - name: Upload junit report
          uses: actions/upload-artifact@v4
          with:
            name: junit-report
            path: src/Client/junit.xml

    docker-build:
      needs: build-test
      runs-on: ubuntu-latest

      permissions:
        packages: write
        contents: read

      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Login to GHCR
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Prepare Tags
          id: vars
          run: |
            echo "sha=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT
            echo "repo=${GITHUB_REPOSITORY,,}" >> $GITHUB_OUTPUT

        - name: Build backend image
          run: |
            docker build \
              -t ghcr.io/${{ steps.vars.outputs.repo }}/backend:develop-${{ steps.vars.outputs.sha }} \
              -t ghcr.io/${{ steps.vars.outputs.repo }}/backend:latest-develop \
              -f Server/Students.APIServer/Dockerfile .

        - name: Push backend image
          run: |
            docker push ghcr.io/${{ steps.vars.outputs.repo }}/backend:develop-${{ steps.vars.outputs.sha }}
            docker push ghcr.io/${{ steps.vars.outputs.repo }}/backend:latest-develop

        - name: Build frontend image
          run: |
            docker build \
              -t ghcr.io/${{ steps.vars.outputs.repo }}/frontend:develop-${{ steps.vars.outputs.sha }} \
              -t ghcr.io/${{ steps.vars.outputs.repo }}/frontend:latest-develop \
              -f src/Client/Dockerfile src/Client

        - name: Push frontend image
          run: |
            docker push ghcr.io/${{ steps.vars.outputs.repo }}/frontend:develop-${{ steps.vars.outputs.sha }}
            docker push ghcr.io/${{ steps.vars.outputs.repo }}/frontend:latest-develop
