name: Build and Tests

on:
  push:

jobs:
  checkout_code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

  build_app:
    runs-on: ubuntu-latest
    needs: [checkout_code]
    steps:
      - uses: actions/checkout@v5
  
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '7.0.x'
  
      - name: Restore dependencies
        run: dotnet restore ./src/Students.sln
  
      - name: Build the project
        run: dotnet build ./src/Students.sln --configuration Release --no-restore
  
  run_tests:
    runs-on: ubuntu-latest
    needs: build_app
    steps:
      - uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '7.0.x'
      
      - name: Restore dependencies
        run: dotnet restore ./src/Students.sln
        
      - name: Run tests
        run: dotnet test ./src/Students.sln --configuration Release --no-restore --verbosity normal
