name: Build Frontend

on:
  workflow_call:

jobs:
  lint_and_build_frontend:
    runs-on: ubuntu-latest
    container:
      image: node:23.1.0-alpine3.19

    steps:  
      - uses: actions/checkout@v5

      - name: Install dependencies
        working-directory: ./src/Client
        run: npm install --legacy-peer-deps

      - name: Run strict linter (no warnings allowed)
        working-directory: ./src/Client
        run: npx eslint src --ext .ts,.tsx,.js,.jsx --max-warnings=0
        
      - name: Build frontend
        working-directory: ./src/Client
        run: CI=false npm run build

  test_frontend:
    runs-on: ubuntu-latest
    needs: lint_and_build_frontend
    
    container:
      image: node:23.1.0-alpine3.19
    
    steps:
      - uses: actions/checkout@v5

      - name: Install all dependencies (including test deps)
        working-directory: ./src/Client
        run: npm install --legacy-peer-deps
      
      - name: Run tests
        working-directory: ./src/Client
        env:
          JEST_JUNIT_OUTPUT: junit.xml
        run: npm test -- --coverage --testResultsProcessor="jest-junit"
      
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: src/Client/coverage/
      
      - name: Upload junit report
        uses: actions/upload-artifact@v4
        with:
          name: junit-report
          path: src/Client/junit.xml
