  name: CI/CD Pipeline
  
  on:
    push:
      branches:
        - main
        - develop
  
  jobs:
    ci_backend:
      uses: ./.github/workflows/ci_backend.yml

    ci_frontend:
      uses: ./.github/workflows/ci_frontend.yml

    docker-build:
      runs-on: ubuntu-latest
      needs: [build_backend, build_frontend, test_backend, test_frontend]

      permissions:
        contents: read
        packages: write

      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Login to GHCR
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Prepare tags
          id: vars
          run: |
            echo "sha=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT
            echo "repo=${GITHUB_REPOSITORY,,}" >> $GITHUB_OUTPUT

            # Определяем тип ветки
            if [ "${GITHUB_REF_NAME}" = "main" ]; then
              echo "suffix=release" >> $GITHUB_OUTPUT
            else
              echo "suffix=develop" >> $GITHUB_OUTPUT
            fi

        - name: Build backend image
          run: |
            docker build \
              -t ghcr.io/${{ steps.vars.outputs.repo }}/backend:${{ steps.vars.outputs.suffix }} \
              -t ghcr.io/${{ steps.vars.outputs.repo }}/backend:${{ steps.vars.outputs.suffix }}-${{ steps.vars.outputs.sha }} \
              -f src/Dockerfile \
              src

        - name: Build frontend image
          run: |
            docker build \
              -t ghcr.io/${{ steps.vars.outputs.repo }}/frontend:${{ steps.vars.outputs.suffix }} \
              -t ghcr.io/${{ steps.vars.outputs.repo }}/frontend:${{ steps.vars.outputs.suffix }}-${{ steps.vars.outputs.sha }} \
              -f src/Client/Dockerfile \
              src/Client

        - name: Push backend image
          run: |
            docker push ghcr.io/${{ steps.vars.outputs.repo }}/backend:${{ steps.vars.outputs.suffix }}
            docker push ghcr.io/${{ steps.vars.outputs.repo }}/backend:${{ steps.vars.outputs.suffix }}-${{ steps.vars.outputs.sha }}

        - name: Push frontend image
          run: |
            docker push ghcr.io/${{ steps.vars.outputs.repo }}/frontend:${{ steps.vars.outputs.suffix }}
            docker push ghcr.io/${{ steps.vars.outputs.repo }}/frontend:${{ steps.vars.outputs.suffix }}-${{ steps.vars.outputs.sha }}