name: Manual Deploy

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch"
        required: true
        default: "main"
      environment:
        description: "prod || test"
        required: true
        type: choice
        options:
          - prod
          - test

jobs:
  call-deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      branch: ${{ github.event.inputs.branch }}
      environment: ${{ github.event.inputs.environment }}
    secrets:
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_KEY: ${{ secrets.SSH_KEY }}